header {
	position: relative;
	overflow: hidden;
	padding-top: calc(#{$module} * 6);
	height: 100vh;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;

	.special-buttons {
		position: absolute;
		right: 0;
		bottom: 0;
		width: calc((100% / 12) * 6);
		display: flex;
		z-index: 2;
		@include breakpoint(md-down) {
			width: calc((100% / 12) * 12);
		}
		#instalaciones-btn {
			width: calc((100% / 12) * 5);
			height: 100%;
			background-color: white;
			color: map-get($theme-colors, 'primary');
			text-align: center;
			vertical-align: center;
			text-transform: uppercase;
			font-size: $font-base;
			font-weight: $text-bold;
			letter-spacing: 1.33px;
			line-height: 25px;
			padding: calc(#{$module} * 2) 0;
			@include breakpoint(lg) {
				padding: calc(#{$module} * 1.5) 0;
			}
			@include breakpoint(md-down) {
				padding: calc(#{$module} * 1) 0;
				width: calc((100% / 12) * 6);
			}
		}
		#maquinaria-btn {
			font-size: $font-base;
			font-weight: $text-bold;
			letter-spacing: 1.33px;
			line-height: 25px;
			padding: calc(#{$module} * 2) 0;
			width: calc((100% / 12) * 7);
			height: 100%;
			background-color: map-get($theme-colors, 'primary');
			color: white;
			text-align: center;
			vertical-align: center;
			text-transform: uppercase;
			@include breakpoint(lg) {
				padding: calc(#{$module} * 1.5) 0;
			}
			@include breakpoint(md-down) {
				width: calc((100% / 12) * 6);
				padding: calc(#{$module} * 1) 0;
			}
		}
	}

	.container {
		display: flex;
		height: 100%;
		@include breakpoint(md-down) {
			position: relative;
		}
		.img-content {
			position: relative;
			width: calc((100% / 12) * 6);
			@include breakpoint(md-down) {
				height: 300px;
				position: absolute;
				width: calc((100% / 12) * 12);
				z-index: 0;
			}

			figure {
				position: absolute;
				top: 0;
				left: calc(#{$module} * (-17));
				overflow: hidden;
				width: 120%;
				height: 100%;
				img {
					height: 100%;
					object-fit: contain;
					object-position: center;
				}
				@include breakpoint(xl) {
					left: calc(#{$module} * (-10));
				}
				@include breakpoint(lg) {
					left: calc(#{$module} * (-6));
					width: 110%;
				}
				@include breakpoint(md) {
					left: 0;
					width: 100%;
				}
				@include breakpoint(sm-down) {
					left: 0;
					width: 90%;
					top: calc(#{$module} * 2);
				}
			}
		}
		.right-side {
			width: calc((100% / 12) * 6);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			@include breakpoint(md-down) {
				width: calc((100% / 12) * 12);
				z-index: 1;
			}
			.text-content {
				width: 100%;
				color: white;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;

				h1 {
					display: block;
					text-transform: uppercase;
					letter-spacing: 8px;
					font-size: 96px;
					font-weight: $text-bold;
					@include breakpoint(xl) {
						font-size: 80px;
					}
					@include breakpoint(lg) {
						font-size: 70px;
					}
					@include breakpoint(md) {
						font-size: 55px;
					}
					@include breakpoint(md-down) {
						text-align: center;
					}
					@include breakpoint(sm) {
						font-size: 60px;
					}
					@include breakpoint(xs) {
						font-size: 40px;
					}
				}
				.header-subtitle {
					color: white;
					font-size: 32px;
					font-weight: $text-semibold;
					letter-spacing: 2.67px;
					line-height: 50px;
					&::after {
						display: none;
					}
					@include breakpoint(xl) {
						line-height: 35px;
					}
					@include breakpoint(lg) {
						line-height: 35px;
					}
					@include breakpoint(md) {
						line-height: 30px;
						font-size: 24px;
					}
					@include breakpoint(md-down) {
						text-align: center;
					}
					@include breakpoint(sm) {
						line-height: 24px;
						font-size: 24px;
					}
					@include breakpoint(xs) {
						line-height: 24px;
						font-size: 16px;
					}
				}
			}
		}
	}
}
