@import './index';

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-text;
	color: map-get($theme-colors, 'text');
}
img {
	display: block;
	width: 100%;
}
ul {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		a {
			display: block;
			text-decoration: none;
		}
	}
}
p {
	margin: 0;
}
small {
	@include font-line-height($font-xs);
	font-weight: $text-light;
}
a {
	display: block;
}

.container {
	max-width: 1400px;
	@include breakpoint(xl) {
		max-width: 1140px;
	}
	@include breakpoint(lg) {
		max-width: 960px;
	}
	@include breakpoint(md) {
		max-width: 700px;
	}
	@include breakpoint(sm-down) {
		max-width: 540px;
	}
}
