.cat-filter {
	display: flex;
	margin-bottom: $module;
	.my-btn {
		margin-right: $module;
		&.dropdown-toggle:focus {
			outline: none;
			background-color: map-get($theme-colors, 'primary');
			border-color: map-get($theme-colors, 'primary');
			box-shadow: none;
		}
	}
}

.all-maquinas {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: calc(#{$module} * 4);

	.each-maquina {
		@include bg-dots();
		padding: $module;
		@include breakpoint(lg-up) {
			@include items-grid(2, $module);
			height: calc(#{$module} * 10);
		}
		@include breakpoint(md-down) {
			@include items-grid(1, $module);
			height: calc(#{$module} * 10);
		}
		@include breakpoint(sm-down) {
			height: auto;
		}
		.inner {
			background-color: white;
			width: 100%;
			height: 100%;
			padding: $module;
			display: flex;
			@include breakpoint(sm-down) {
				flex-direction: column;
				align-items: center;
			}
			.left {
				width: calc((100% / 12) * 4);
				height: 100%;
				overflow: hidden;
				margin-bottom: 0;
				@include breakpoint(sm-down) {
					width: calc((100% / 12) * 12);
				}
				img {
					object-fit: contain;
					object-position: center;
					height: 100%;
				}
			}
			.right {
				width: calc((100% / 12) * 8);
				height: auto;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				@include breakpoint(sm-down) {
					width: calc((100% / 12) * 12);
					padding-left: calc(#{$module} / 2);
					align-items: center;
				}
				.maquina-name {
					@include font-line-height($font-lg);
					text-transform: uppercase;
					font-weight: $text-semibold;
					color: map-get($theme-colors, 'primary');
					@include breakpoint(sm-down) {
						@include font-line-height($font-md);
						text-align: center;
					}
				}
				.my-btn {
					align-self: flex-end;
					@include breakpoint(sm-down) {
						margin-top: calc(#{$module} / 2);
						align-self: center;
					}
				}
			}
		}
	}
}

.maquina-selected {
	display: flex;
	padding-bottom: calc(#{$module} * 4);
	align-items: center;
	@include breakpoint(md-down) {
		flex-direction: column;
	}

	.left {
		width: calc((100% / 12) * 6);
		@include breakpoint(md-down) {
			width: calc((100% / 12) * 12);
		}
	}
	.right {
		width: calc((100% / 12) * 6);
		@include breakpoint(md-down) {
			width: calc((100% / 12) * 12);
		}
		.features {
			padding-left: calc(#{$module} * 2);
			@include breakpoint(md-down) {
				padding-left: 0;
			}
			li {
				margin-bottom: calc(#{$module} * 1);
				svg {
					width: 10px;
					height: 10px;
					color: map-get($theme-colors, 'primary');
					margin-right: calc(#{$module} / 3);
				}
			}
		}
	}
}
.maquina-gallery {
	padding-bottom: calc(#{$module} * 4);
	h2 {
		@include font-line-height(32px);
		&::after {
			width: 50px;
		}
	}
	.images {
		> div {
			display: flex;
			flex-wrap: wrap;
			figure {
				@include items-grid(6, $module);
				overflow: hidden;
				img {
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
	}
	.media-section {
		display: flex;
		flex-wrap: wrap;
		.each-media {
			overflow: hidden;
			@include breakpoint(xl-up) {
				@include items-grid(6, $module);
				height: 170px;
			}
			@include breakpoint(lg) {
				height: 150px;
				@include items-grid(5, $module);
			}
			@include breakpoint(md) {
				height: 150px;
				@include items-grid(4, $module);
			}
			@include breakpoint(sm-down) {
				height: 180px;
				@include items-grid(2, $module);
			}
			img {
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}
