.trabajos {
	padding: calc(#{$module} * 6) 0;
	h3 {
		text-transform: uppercase;
		color: map-get($theme-colors, 'primary');
		font-weight: $text-bold;
		margin-top: calc(#{$module} * 1);
		margin-bottom: calc(#{$module} * 1);
	}
	.media-section {
		display: flex;
		flex-wrap: wrap;
		.each-media {
			overflow: hidden;
			@include breakpoint(xl-up) {
				@include items-grid(6, $module);
				height: 170px;
			}
			@include breakpoint(lg) {
				height: 150px;
				@include items-grid(5, $module);
			}
			@include breakpoint(md) {
				height: 150px;
				@include items-grid(4, $module);
			}
			@include breakpoint(sm-down) {
				height: 180px;
				@include items-grid(2, $module);
			}
			img {
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}
.pswp {
	img {
		max-width: none;
		object-fit: contain;
	}
}
