.subvenciones {
	padding-bottom: calc(#{$module} * 4);
	.all-subvs {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.each-subv {
			@include items-grid(2, $module);
			height: 750px;
			overflow: hidden;
			img {
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}
	}
}
