.page-header {
	margin-top: 175px;
	padding: calc(#{$module} * 4) 0;
	height: auto;
	margin-bottom: calc(#{$module} * 4);
	backdrop-filter: invert(0.8);
	position: relative;
	background-color: map-get($theme-colors, 'grey');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	.container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		.header-subtitle {
			display: block;
			text-align: center;
			@include font-line-height($h1-size);
			color: white;
			text-shadow: 1px 0px 0px map-get($theme-colors, 'primary');
			text-transform: uppercase;
			letter-spacing: 4px;
			font-weight: $text-bold;
			margin: 0;
			&::after {
				display: none;
			}
			@include breakpoint(sm-down) {
				@include font-line-height(28px);
			}
		}
		h3 {
			display: block;
			text-align: center;
			@include font-line-height($h3-size);
			color: white;
			text-shadow: 1px 0px 0px map-get($theme-colors, 'primary');
			text-transform: uppercase;
			letter-spacing: 4px;
			font-weight: $text-semibold;
			margin: 0;
		}
	}
}
