.historia {
	padding: calc(#{$module} * 6) 0;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: calc((100% / 12) * 6);
		height: 100%;
		top: 0;
		left: 0;
		@include bg-dots();
	}
	.container {
		display: flex;
		.left,
		.right {
			padding: 0 $module;
			width: calc((100% / 12) * 6);
		}
		.left {
			.swiper-container {
				height: 100%;
				width: 100%;
				.swiper-wrapper {
					height: 100%;
					width: 100%;
					.swiper-slide {
						height: 100%;
						width: 100%;
						overflow: hidden;
						img {
							height: 100%;
							object-fit: cover;
							object-position: center;
						}
					}
				}
			}
		}
		.right {
		}
	}
}
