.historia {
	padding: calc(#{$module} * 8) 0 calc(#{$module} * 2);
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: calc((100% / 12) * 6);
		height: 100%;
		top: 0;
		left: 0;
		@include bg-dots();
		@include breakpoint(md-down) {
			width: calc((100% / 12) * 12);
		}
		z-index: -1;
	}
	.container {
		display: flex;
		@include breakpoint(md-down) {
			flex-direction: column-reverse;
		}
		.left,
		.right {
			padding: 0 $module;
			width: calc((100% / 12) * 6);
			@include breakpoint(md-down) {
				width: calc((100% / 12) * 12);
			}
		}
		.left {
			@include breakpoint(md-down) {
				height: 350px;
			}
			.swiper-container {
				height: 100%;
				width: 100%;
				.swiper-wrapper {
					height: 100%;
					width: 100%;
					.swiper-slide {
						height: 100%;
						width: 100%;
						overflow: hidden;
						img {
							height: 100%;
							object-fit: cover;
							object-position: center;
						}
					}
				}
			}
		}
		.right {
			@include breakpoint(md-down) {
				text-align: center;
				background-color: white;
				padding: $module;
			}
		}
	}
}
