.my-modals {
	display: flex;
	.modal-content {
		padding: calc(#{$module} * 1);
		width: 100%;
	}
	h2 {
		@include font-line-height(40px);
		text-align: center;
		&::after {
			display: none;
		}
	}
	p {
		margin-bottom: calc(#{$module} / 2);
	}
	&.video {
		.modal-dialog {
			max-width: none;
			&.modal-dialog-centered {
				justify-content: center;
				.modal-content {
					padding: 0;
					width: auto;
					max-height: auto;
				}
			}
		}
	}
}
.modal-width {
	width: 50%;
	max-width: none !important;
}
.modal-backdrop.show {
	background-color: map-get($theme-colors, 'text');
	backdrop-filter: blur(10px);
}
